*{padding: 0;margin: 0;}
[class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 8.33%; 
        /*-- our gutter -- */
        padding: 1%; 
        margin:1%;
        background-color: #eee;
    }

.row:before, .row:after {content:"";display: table ;clear:both;}    
.container{width: 100%;}

@media screen and (min-width:769px) and (max-width:1960px){
.col-sm-12{width: 96%;}
.col-sm-6{width: 46%;}
.col-sm-4{width: 29.33%;}
.col-sm-3{width: 21%;}
.col-sm-2{width: 12.66%;}
.col-sm-1{width: 4.33%;}
}
@media screen and (max-width:768px){
.col-sml-12{width: 96%;}
.col-sml-8{width: 61.32%;}
.col-sml-6{width: 46%;}
.col-sml-4{width: 29.33%;}
.col-sml-3{width: 21%;}
.col-sml-2{width: 12.66%;}
.col-sml-1{width: 4.33%;}
}