body,p,ul,li{
	margin: 0;
	padding: 0;
}
img{
	border: none;
	border-radius: 5px;
}
li{
	list-style: none;
}

/*清除浮动*/
.clearfix:after {
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

#context{
	background-color: #eee;
	margin: 0 auto;
	border: 1px solid #999;
	margin: 20px;
	height: 100%;
	width: auto;
	/*min-width: 960px;*/
	padding:20px;
}
#team{
	width: 198px;
	height: 80px;
	float: left;
/*	position: relative;
	top: 0;
	left:0;*/
	padding: 20px;
	border: 1px solid #999;
}
#team img{
/*	position: absolute;
	top: 0;
	left:0;*/
	width: 80px;
	height: 80px;
	
}
#team p{
	display: inline-block;
	height: 80px;
	line-height: 80px;
	/*width: 120px;*/
	/*position: absolute;*/
/*	left: 120px;
	top: 20px;*/
	font-size: 12px;
}
#list{}
#list ul{
	float: right;
	border: 1px solid #999;
	margin:0 20px;
}
#list li{
	padding: 20px;
}
#list li img{
	width: 80px;
	height: 80px;
	border: 1px solid #999;
}
#container{
	padding: 20px;
	margin:0 166px 20px 240px;
	border: 1px solid #999;
	/*width: 100%;*/
}